body {
    margin: 0;
}

main {
    /* uigradients.com */
    background: #0A0A0A;  /* fallback for old browsers */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto Mono;
    color: #fff;
}

#title {
    font-size: 7rem;
}

#activity {
    margin: 4rem 0;
    font-size: 2rem;
}

/* BUTTON STYLING */
button {
  font-size: 1.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #7161ef;
  color: #fff;
  cursor: pointer;
}

